:root{
    --primaire-color: #F7A100;
    --secundaire-color: #0071B3;
    --primaire-lettertype: Proxima Nova;

}
*{
    font-style: var(--primaire-lettertype);   
}
nav{
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    top: 0em;
    left: 0em;
    right: 0em;
    
}

#logotje{
    width: 25%;
}




/* FOTO SLIDER GEDEELTE */


 *, *::before, *::after {
    box-sizing: border-box;

body{
    margin: 0;
  

}

    
.swipere{
    width: 100vw; 
    height: 100vh;
    position: relative;
    border-bottom-color: orange;
}

.sliderfoto{
    position: absolute;
    inset: 0;
    opacity: 0;
}
.sliderfoto > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.sliderfoto[data-active] {
   opacity: 1;
}

.swipere-button{
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, .1);
}
 
.swipere > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.swipere-button:hover,
.swipere-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.swipere-button:focus{
  outline: 1px solid black;  
}
.swipere-button.eerste{
    left: 0rem;
}

.swipere-button.tweede{
    right: 1rem;
}
}


/* EINDE FOTO SLIDER */

.wireflowgedeelte{
 background-color: white;


}
.volledig{
    background-color: white;
    border-color: white;
    color: blue;
    box-shadow: white;
}



.hele{
    visibility: 0;
}

