:root{
    --primaire-color: #F7A100;
    --secundaire-color: #0071B3;
    --primaire-lettertype: Proxima Nova;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proxima nova, sans-serif;
}


/* BEGIN HEADER */

nav{
    display: flex;
    background-color: var(--primaire-color);
    left: 0em;
    right: 0em;
    
}

.startlogo{
    width: 125px;
    padding: 1;
}

#knophuis{
    width: 60px;
    background-color: var(--primaire-color);
    border-color: var(--primaire-color);
    right: 0em;
    

}


nav {
    display: flex;
    justify-content: space-between;
    width: 414px;
    height: 60px;
    border: 0px;
    top: 0px;    
}

.navbar-left {
    display: flex;
    justify-content: space-between;
}

.button-menu {
    height: 100% ;
    background-color: var(--primaire-color);
    border-color: var(--primaire-color);
    border: 0px;
    color: white;
}

.logo{
    position: absolute;
    top: 0px;
}

.button-house {
    display: flex;
    width: 125px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primaire-color);
    border: 0px;
    color: white;
}

/* -------------------------------------------- */

.container {
    max-width: 1200px;
    width: 100%;
}

.slider-wrapper .slide-button {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    height: 25px;
    width: 25px;
    color: #fff;
    border: none;
    outline: none;
    background: var(--secundaire-color);
    cursor: pointer;
    border-radius: 50%;
    top: 25%; 
   transform: translateY(-50%);
}

.slide-wrapper .slide-button:hover {
    background:  #444;
}

.slider-wrapper .slide-button#prev-slide {
    left: -1px;
    /* display: none; */
} 

.slider-wrapper .slide-button#next-slide {
    right: -1px;
} 

.slider-wrapper .image-list {
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    grid-template-columns: repeat(18, 1fr);
    scrollbar-width: none;
    margin-bottom: 10px;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 414px;
    height: 300px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;

    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;

}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px
}

.slider-scrollbar .scrollbar-thumb::after {
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;

}

.modern-home {
    width: 414px;
    height: 300px;
    right: 0px;
}

.plattegrond-button{
    display: flex;
    position: absolute;
    right: 0px;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 20px;
    justify-content: center;
    color: var(--secundaire-color);
    background-color: #fff;
}

.startscherm{
    margin-bottom: 150px;
}

/* EIND HEADER */

/* PRICE BEGIN */
.prijs-section{
    margin-bottom: 50px;
    line-height: 40px;
    margin-left: 15px;

    h1{
        font-size: 30px;
        opacity: 0.7;
    }
    h2{
        opacity: 0.8;
        font-size: 25px;
    }
    p{
        opacity: 0.6;
        font-size: 20px;
    }

    a{
        color: var(--secundaire-color);
        font-size: 20px;
    }
}


/* PRICE END */

/* DISCRIPTION BEGIN */

.vergroten{
    opacity: 0;
}

.vergroten tekst-vergroter {
    opacity: 1;
}
