:root{
    --primaire-color: #F7A100;
    --secundaire-color: #0071B3;
    --primaire-lettertype: Proxima Nova;
}


/* BEGIN HEADER */

nav{
    display: flex;
    background-color: var(--primaire-color);
    left: 0em;
    right: 0em;
    
}

.startlogo{
    width: 125px;
    padding: 1;
}

#knophuis{
    width: 60px;
    background-color: var(--primaire-color);
    border-color: var(--primaire-color);
    right: 0em;
    

}

/* -------------------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    right: 0em;
    height: 60px;
    border: 0px;
    
}

.navbar-left {
    display: flex;
    justify-content: space-between;
}

.button-menu {
    height: 100% ;
    background-color: var(--primaire-color);
    border-color: var(--primaire-color);
}

.button-house {
    display: flex;
    width: 125px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primaire-color);

}

.modern-home {
    width: 420px;
    height: 300px;
}


/* EIND HEADER */